<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.arg/wiki/xacro">

    <xacro:include filename="common_properties.urdf.xacro" />
    <xacro:include filename="mobile_base.urdf.xacro" />
    <xacro:include filename="mobile_base_gazebo.xacro" />
    <xacro:include filename="camera.xacro" />

</robot>